body {
    text-align: center;
    background-color:darkgrey;
}
.div1{

    padding: 0px;
    width: 1000px;
    background-color: aquamarine;
}
div {

    padding: 30px;
    background-color: wheat;
    margin: 0 auto;
    width: 940px;
    border-radius: 8px;
       }
#apicture {
    margin: 0 auto;
    width: 1000px;
    border-radius: 8px;
   }
form{
    background-color: wheat;
    width: 1000px;
    text-align: center;
    margin: 0 auto;
    border-radius: 8px;
}


ul
{
    float:left;
    width:100%;
    padding:0;
    margin:0;
    list-style-type:none;
}
a
{
    float:left;
    width:7em;
    text-decoration:none;
    color:white;
    background-color:purple;
    padding:0.2em 0.6em;
    border-right:1px solid white;
}
a:hover {background-color:#ff3300}
li {display:inline}

.fd{
    float:right;
    width:327px;
    margin:0 0 15px 20px;
    padding:15px;

}



#ldiv{
    text-align: left;
    margin: 5px;
    float: left;
    width: 240px;
    height:150px;
    overflow: auto;
    background-color: antiquewhite;
}
#rdiv{
    position: relative;
    bottom: 20px;
    text-align: left;
    margin: 5px;
    float: left;
    width: 240px;
    height:150px;
    overflow: auto;
    background-color: antiquewhite;
}
#cdiv{
    margin: 5px;
    float: left;
    width: 240px;
    height:150px;
    overflow: auto;
    background-color: antiquewhite;
}
#zzzzzz{
    height: 350px;
}