
* {

    margin: 0;

    padding: 0;

    text-decoration: none;
    border-radius: 8px;

}



body {
    background-color: gainsboro;

}

#ye_mei{
    position: relative;
    right: 20px;
    width: 100%;
    height: 100px;
    background-color: gold;
    text-align: center;
    font-size: 200%;
}


#container, #dui_shou { /*所有内容*/
    margin: 0 auto;
    position: relative;

    width: 256px;

    height: 256px;

    border: 0 solid #333;

    overflow: hidden;
    background-color: white;


}

#kong_zhi_left{
    position: relative;
    top: -525px;
    float: left;
    width: 400px;

    height: 512px;

    border: 0 solid #333;

    overflow: hidden;
    border-radius: 25px;
    padding: 20px;

}

#kong_zhi_right{
    position: relative;
    top: -525px;
    right: 5px;
    float: right;
    width: 420px;

    height: 550px;

    border: 0 solid #333;

    overflow: hidden;
    border-radius: 25px;
}
#kong_zhi_right_fenzhi{}
#kong_zhi_right_button{
    position: absolute;
    top: 200px;
    left: 100px;
}


#list {                    /*图片*/

    position: absolute;

    z-index: 1;

    width: 1280px;

    height: 256px;

}



#list img {               /*图片*/

    float: left;

    width: 256px;

    height: 256px;

}


                              /*hkjhjkhkhkkhjkhjkhjkhk*/
#buttons {                   /*按钮小圆点*/

    position: absolute;

    left: 80px;

    bottom: 20px;

    z-index: 2;

    height: 10px;

    width: 100px;

}



#buttons span {         /*按钮小圆点*/

    float: left;

    margin-right: 5px;

    width: 25px;

    height: 25px;

    border: 1px solid #fff;

    border-radius: 50%;

    background: yellow;

    cursor: pointer;

}



#buttons .on {             /*第一个小圆点*/

    background: orangered;

}



.arrow {                /*箭头*/

    position: absolute;

    top: 200px;

    z-index: 2;

    display: none;

    width: 40px;

    height: 40px;

    font-size: 36px;

    font-weight: bold;

    line-height: 39px;

    text-align: center;

    color: #fff;

    background-color: RGBA(0, 0, 0, .3);

    cursor: pointer;

}



.arrow:hover {

    background-color: RGBA(0, 0, 0, .7);

}



#container:hover .arrow {

    display: block;

}



#prev {

    left: 20px;

}



#next {

    right: 20px;

}

#start_game{
    width: 200px;
    height: 100px;
    border-radius: 20px;
}
#you_xi_bei_jing{
    background-color: white;
    border-radius: 25px;

}